<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517623258175-jm86j26atrpoquv14slkicvmjfi9m21q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517623258175-jm86j26atrpoquv14slkicvmjfi9m21q</string>
	<key>API_KEY</key>
	<string>AIzaSyBXaE8nsD3h5cZCA6mz4zST_45TtLSoxwY</string>
	<key>GCM_SENDER_ID</key>
	<string>517623258175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-a644e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-a644e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517623258175:ios:a5c253e8d13a0991776c8a</string>
</dict>
</plist>